.complex-shimmer {
    display: inline-block;
    position: relative;
    color: #d63636;
   
    &::before, &::after {
        height: 110%;
        width: 105%;
        content: attr(data-text);
        position: absolute;
        left: 0;
        right: 0;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 300% 300%;
        animation: complexShine 6s linear infinite;
    }
    &::before {
        background-image: linear-gradient(
            45deg,
            rgba(210, 70, 70, 0.1) 0%,
            rgba(239, 141, 86, 0.3) 20%,
            rgba(239, 141, 86, 0.8) 40%,
            #ef8d56 50%,
            rgba(220, 64, 64, 0.8) 60%,
            rgba(210, 70, 70, 0.3) 80%,
            rgba(210, 70, 70, 0.1) 100%
        );
    }
    &::after {
        background-image: linear-gradient(
            135deg,
            rgba(210, 70, 70, 0.1) 0%,
            rgba(215, 57, 57, 0.374) 20%,
            rgba(225, 63, 63, 0.8) 40%,
            #d24646 50%,
            rgba(239, 141, 86, 0.8) 60%,
            rgba(239, 141, 86, 0.3) 80%,
            rgba(239, 141, 86, 0.1) 100%
        );
        animation-delay: -3s;
    }

    @media (prefers-reduced-motion: reduce) {
        &::before, &::after {
            animation: none;
        }
    }

    @media (max-width: 768px) {
        &::before, &::after {
            animation: none;
        }
    }
}

@keyframes complexShine {
    0%, 100% {
        background-position: 0% 0%;
    }
    25% {
        background-position: 100% 100%;
    }
    50% {
        background-position: 100% 0%;
    }
    75% {
        background-position: 0% 100%;
    }
}