@import '~/assets/scss/reset.scss';

@font-face {
    font-family: 'Geist';
    src: url('/fonts/geist-300.woff') format('woff');
    font-weight: 300;
    font-display: swap;
    font-weight: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('/fonts/geist-500.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Geist';
    src: url('/fonts/geist-700.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'NotoSerif';
    src: url('/fonts/notosans-600.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
    font-weight: normal;
}

@font-face {
    font-family: 'NotoSerif';
    src: url('/fonts/notosans-700.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'NotoSerif';
    src: url('/fonts/notosans-900.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}

:root {
    --background-light: #FFFFFF;
    --background-light-overlay: #ffffffa0;
    --background-dark: #121212;
    --background-dark-overlay: #12121285;
    --background-color: var(--background-light);
    --background-color-overlay: var(--background-light-overlay);

    --panel-light: #EFEFEF;
    --panel-light-hover: #c4c4c4;
    --panel-dark: #1C1C1E;
    --panel-dark-hover: #2C2C2E;
    --panel: var(--panel-light);
    --panel-hover: var(--panel-light-hover);

    --text-light: #000000;
    --text-light-secondary: #646464;
    --text-light-inactive: #838383;
    --text-dark: #FFFFFF;
    --text-dark-secondary: #868686;
    --text-dark-inactive: #838383;
    --text-color: var(--text-light);
    --text-color-inactive: var(--text-light-inactive);
    --text-color-secondary: var(--text-light-secondary);

    --border-light: #a9a9a9;
    --border-dark: #5b5b5b;
    --border: var(--border-light);

    --pain-missing: #58585829;
    --pain-0: #83A45D;
    --pain-0-hover: #6a8b46;
    --pain-1: #E8CB9F;
    --pain-1-hover: #cbac81;
    --pain-2: #ef8e56;
    --pain-2-hover: #cc713c;
    --pain-3: #D24646;
    --pain-3-hover: #ba3030;


    --lifestyle-1: #39abc4;
    --lifestyle-2: #2ca7c2;
    --lifestyle-3: #3da4bc;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: var(--background-dark);
        --background-color-overlay: var(--background-dark-overlay);
        --panel: var(--panel-dark);
        --panel-hover: var(--panel-dark-hover);
        --text-color: var(--text-dark);
        --text-color-secondary: var(--text-dark-secondary);
        --text-color-inactive: var(--text-dark-inactive);
        --border: var(--border-dark);
    }
}


:root {
    --background-light: #ffffff;
    --background-dark: #09090b;

    --background-transparent-dark: #09090b99;
    --background-transparent-light: #ffffffab;

    --background-secondary-light: #f4f4f5;
    --background-secondary-dark: #27272a;

    --accent-light: #1e1e22;
    --accent-dark: #f4f4f5;

    --accent-hover-light: #222224;
    --accent-hover-dark: #cdcdcd;

    --text-light: #09090b;
    --text-dark: #ffffff;

    --completed-light: #39ce0b;
    --completed-dark: #2bb401;

    --pain-missing: transparent;
    --pain-0: #83A45D;
    --pain-0-hover: #6a8b46;
    --pain-1: #E8CB9F;
    --pain-1-hover: #cbac81;
    --pain-2: #ef8e56;
    --pain-2-hover: #cc713c;
    --pain-3: #D24646;
    --pain-3-hover: #ba3030;
}

// Light theme
:root {
    --background: var(--background-light);
    --background-secondary: var(--background-secondary-light);
    --background-transparent: var(--background-transparent-light);
    --accent: var(--accent-light);
    --accent-hover: var(--accent-hover-light);
    --text-color: var(--text-light);

    --completed: var(--completed-light);
}

//Dark theme
@media (prefers-color-scheme: dark) {
    :root {
        --background: var(--background-dark);
        --background-secondary: var(--background-secondary-dark);
        --background-transparent: var(--background-transparent-dark);
        --accent: var(--accent-dark);
        --accent-hover: var(--accent-hover-dark);
        --text-color: var(--text-dark);

        --completed: var(--completed-dark);
    }
}

body {
    font-family: 'Geist', sans-serif;
    color: var(--text-color);
    background-color: var(--background);
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
}

.container.section {
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
}

h1,
h2 {
    tab-size: 4;
    font-weight: 700;
    font-size: clamp(40px, 5vw, 46px);
    letter-spacing: -1.2px;
    line-height: 34px;
    margin-bottom: 1rem;
    color: var(--text-color);
}
h1 {
    font-size: clamp(42px, 7vw, 46px);
    line-height: 38px;
}

h3 {
    tab-size: 4;
    font-weight: 600;
    font-size: clamp(28px, 7vw, 32px);
    line-height: 2rem;
    margin-bottom: 1rem;
    color: var(--text-color);
}

p {
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    color: var(--text-color);
}

svg {
    fill: var(--text-color);
}