section.panel, button.panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px 16px;
    background-color: var(--panel);
    border-radius: 16px;
}

section.panel > .headers > h2, section > .headers > h2,
section.panel > .headers > h3, section > .headers > h3 {
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
    font-size: var(--font-size-18);
    font-weight: 400;
}

.panel > .headers {
    margin-bottom: 1.5rem;
}

body {
    background-color: var(--background-color);
}

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    width: 100%;
    margin-bottom: 7rem;
}
/* 
#__nuxt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    max-width: 600px;
} */
/* 
@media (max-width: 1000px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
} */