@font-face {
    font-family: 'Geist';
    src: url('@/assets/fonts/geist-300.woff') format('woff');
    font-weight: 300;
    font-display: swap;
    font-weight: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('@/assets/fonts/geist-500.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Geist';
    src: url('@/assets/fonts/geist-700.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Geist';
    src: url('@/assets/fonts/geist-900.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: 'NotoSerif';
    src: url('@/assets/fonts/notosans-600.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
    font-weight: normal;
}

@font-face {
    font-family: 'NotoSerif';
    src: url('@/assets/fonts/notosans-700.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'NotoSerif';
    src: url('@/assets/fonts/notosans-900.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('@/assets/fonts/inter-600.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('@/assets/fonts/inter-400.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('@/assets/fonts/inter-300.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

html {
    scrollbar-color: var(--text-color) var(--background-secondary);
    font-family: var(--geist-font-stack);
    background-color: var(--background-color);
    color: var(--text-color);

    @media (prefers-color-scheme: light) {
        background-color: var(--background-2-color);
    }
}