html, body {
    background-color: var(--background-color);
}

p, h1, h2, h3, h4, h5, h6 {
    color: var(--text-color);
    font-family: var(--inter-font-family);
}

@font-face {
    font-family: 'Inter';
    src: url('../../../../library/app/assets/fonts/inter-600.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../../../../library/app/assets/fonts/inter-400.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../../../../library/app/assets/fonts/inter-300.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}