// Globals
:root {
    --system-font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    --inter-font-family: 'Inter', var(--system-font-stack);

    --pain-missing: transparent;
    --pain-none: #58585863;
    --pain-0: #83A45D;
    --pain-0-hover: #6a8b46;
    --pain-1: #fed698;
    --pain-1-accessible-visual: #e2b771;
    --pain-1-accessible-text: #c89f5d;
    --pain-1-hover: #cbac81;
    --pain-2: #ef8e56;
    --pain-2-hover: #cc713c;
    --pain-3: #D24646;
    --pain-3-hover: #ba3030;

    --lifestyle-1: #39abc4;
    --lifestyle-2: #2ca7c2;
    --lifestyle-3: #3da4bc;
}

// Dark
:root {
    --text-color-dark: #f2f2f2;
    --text-1-color-dark: #dcdcdc;
    --text-2-color-dark: #c7c7c7;

    --background-color-dark: #121212;

    --panel-color-dark: #1c1c1e;

    --border-color-dark: #3d3d3d;
}

// Light
:root {
    --text-color-light: #121212;
    --text-1-color-light: #1c1c1e;
    --text-2-color-light: #2c2c2e;

    --background-color-light: #f2f2f2;

    --panel-color-light: #ffffff;

    --border-color-light: #b3b3b3;
}

// Default dark
:root {
    --text-color: var(--text-color-dark);
    --text-1-color: var(--text-1-color-dark);
    --text-2-color: var(--text-2-color-dark);
    --text-color-invert: var(--text-color-light);
    
    --background-color: var(--background-color-dark);
    --background-color-invert: var(--background-color-light);
    
    --panel-color: var(--panel-color-dark);
    
    --border-color: var(--border-color-dark);
}


// // Light mode
// @media (prefers-color-scheme: light) {
//     :root {
//         --text-color: var(--text-color-light);
//         --text-1-color: var(--text-1-color-light);
//         --text-2-color: var(--text-2-color-light);
//         --text-color-invert: var(--text-color-dark);
    
//         --background-color: var(--background-color-light);
//         --background-color-invert: var(--background-color-dark);
    
//         --panel-color: var(--panel-color-light);
    
//         --border-color: var(--border-color-light);
//     }
// }