
// Light and Dark
:root {
    --background-light: #ffffff;
    --background-secondary-light: #f4f4f5;
    --background-light-overlay: #ffffffa0;
    --background-transparent-light: #ffffffab;
    --background-dark: #09090b;
    --background-secondary-dark: #27272a;
    --background-dark-overlay: #12121285;
    --background-transparent-dark: #09090b99;
    
    --panel-light: #EFEFEF;
    --panel-light-hover: #c4c4c4;
    --panel-dark: #1C1C1E;
    --panel-dark-hover: #2C2C2E;
    
    --text-light: #09090b;
    --text-light-secondary: #646464;
    --text-light-inactive: #838383;
    --text-dark: #ffffff;
    --text-dark-secondary: #868686;
    --text-dark-inactive: #838383;
    --text-color: var(--text-light);
    
    --accent-light: #1e1e22;
    --accent-dark: #f4f4f5;

    --accent-hover-light: #222224;
    --accent-hover-dark: #cdcdcd;

    --border-light: #a9a9a9;
    --border-dark: #5b5b5b;
    
    --completed-light: #39ce0b;
    --completed-dark: #2bb401;

    --pain-missing: transparent;
    --pain-none: #58585863;
    --pain-0: #83A45D;
    --pain-0-hover: #6a8b46;
    --pain-1: #fed698;
    --pain-1-accessible-visual: #e2b771;
    --pain-1-accessible-text: #c89f5d;
    --pain-1-hover: #cbac81;
    --pain-2: #ef8e56;
    --pain-2-hover: #cc713c;
    --pain-3: #D24646;
    --pain-3-hover: #ba3030;

    --lifestyle-1: #39abc4;
    --lifestyle-2: #2ca7c2;
    --lifestyle-3: #3da4bc;

    --font-size-10: clamp(8px, 2.5vw, 12px);
    --font-size-12: clamp(10px, 3vw, 14px);
    --font-size-13: clamp(11px, 3.4vw, 15px);
    --font-size-14: clamp(12px, 3.9vw, 16px);
    --font-size-16: clamp(14px, 4.2vw, 18px);
    --font-size-18: clamp(16px, 5vw, 20px);
    --font-size-20: clamp(20px, 5.5vw, 22px);
}

// Light theme vars
:root {
    --background-overlay: var(--background-light-overlay);
    
    --text-color-inactive: var(--text-light-inactive);
    --text-color-secondary: var(--text-light-secondary);
    
    --panel: var(--panel-light);
    --panel-hover: var(--panel-light-hover);

    --border: var(--border-light);
    
    --background: var(--background-light);
    --background: var(--background-light);
    --background-secondary: var(--background-secondary-light);
    --background-transparent: var(--background-transparent-light);
    
    --accent: var(--accent-light);
    --accent-hover: var(--accent-hover-light);
    --text-color: var(--text-light);

    --completed: var(--completed-light);
}

//Dark theme vars
@media (prefers-color-scheme: dark) {
    :root {
        --pain-1: #ffdaa1;

        --background: var(--background-dark);
        --background: var(--background-dark);
        --background-overlay: var(--background-dark-overlay);
        --background-secondary: var(--background-secondary-dark);
        --background-transparent: var(--background-transparent-dark);
        --panel: var(--panel-dark);
        --panel-hover: var(--panel-dark-hover);

        --border: var(--border-dark);
        
        --accent: var(--accent-dark);
        --accent-hover: var(--accent-hover-dark);
        --text-color: var(--text-dark);
        --text-color-secondary: var(--text-dark-secondary);
        --text-color-inactive: var(--text-dark-inactive);

        --completed: var(--completed-dark);
    }
}
