:root {
    --text-color-dark: #f2f2f2;

    --background-color-dark: #121212;

    --panel-color-dark: #1c1c1e;

    --border-color-dark: #3d3d3d;
}

:root {
    --text-color-light: #121212;

    --background-color-light: #f2f2f2;

    --panel-color-light: #ffffff;

    --border-color-light: #b3b3b3;
}

:root {
    --text-color: var(--text-color-light);
    --text-color-invert: var(--text-color-dark);

    --background-color: var(--background-color-light);
    --background-color-invert: var(--background-color-dark);

    --panel-color: var(--panel-color-light);

    --border-color: var(--border-color-light);
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: var(--text-color-dark);
        --text-color-invert: var(--text-color-light);

        --background-color: var(--background-color-dark);
        --background-color-invert: var(--background-color-light);

        --panel-color: var(--panel-color-dark);

        --border-color: var(--border-color-dark);
    }
}